{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "_internal/google_analytics_async.html" . }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="{{ $p.website.themeColor }}">
    <title>{{$p.fullname}}</title>
    <meta name="description" content="{{ $p.summary | plainify }}">
    <meta name="author" content="{{ $p.author }}">
    <meta name="keywords" content="{{ $p.keywords }}">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/products/{{ $p.key }}/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/products/{{ $p.key }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/products/{{ $p.key }}/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/products/{{ $p.key }}/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/products/{{ $p.key }}/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/products/{{ $p.key }}/icons/ms-icon-144x144.png">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="{{ $p.fullname }}">
    <meta itemprop="description" content="{{ $p.summary | plainify }}">
    <meta itemprop="image" content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
    <meta name="twitter:title" content="{{$p.fullname}}">
    <meta name="twitter:creator" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
    <meta name="twitter:description" content="{{ $p.summary | plainify }}">
    <meta name="twitter:image:src" content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
    <!-- facebook -->
    <meta property="og:url" content="{{ $.Site.BaseURL }}">
    <meta property="og:title" content="{{$p.fullname}}">
    <meta property="og:description" content="{{ $p.summary | plainify }}">
    <meta property="og:site_name" content="{{ $p.fullname }}">
    <meta property="og:image" content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
    <meta property="og:type" content="article">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bulma Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/bulma-carousel.min.css" />
    <!-- Bulma tooltip CSS -->
    <link rel="stylesheet" href="/assets/css/bulma-tooltip.min.css" />
    <!-- Bulma CSS -->
    {{ with $style := resources.Get "assets/css/bulma.min.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ end }}
    <!-- <link rel="stylesheet" href="/assets/css/bulma.min.css" /> -->
     <!-- Keen slider CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css" />
    <!-- Custom CSS -->
    {{ with $style := resources.Get "assets/sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ end }}
    <!-- <link rel="stylesheet" href="/assets/sass/main.css" /> -->
  </head>

  <body class="{{$p.key}}">
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- header area start -->
    {{ block "header" . }}
    <header>
      {{ block "header-top" . }}
      <!-- header top start -->
      <!-- notification start  -->
      <div onclick="goToWebinarPage()" class="notification-area notification is-primary" style="display: none" id="notification-area"
        >
        <div class="container section">
          <div class="notification-inner is-flex is-align-items-center is-justify-content-center">
            <p>Join our upcoming webinar! Get your seat right now! <a href="https://appscode.com/webinar" target="_blank">Click</a> to register.</p>
          </div>
        </div>
        <button class="delete" onclick="event.stopPropagation(); closeItem('#notification-area')"></button>
      </div>
      <script type="text/javascript">
        // close action start
        function closeItem(item) {
          const selcetedItem = document.querySelector(item);
          const headerTop = document.querySelector(".header-top");
          const headerBottom = document.querySelector(".header-bottom-area");
          const documentationMenu = document.querySelector(".documentation-menu");
          selcetedItem.style.display = 'none'
          headerTop.style.marginTop = "0px";
          headerBottom.style.top = "0px";
          documentationMenu.style.top = "56px";
        }
        // close action end

        // redirect to webinar pagte
        function goToWebinarPage() {
          window.open("https://appscode.com/webinar/", "_blank");
        }

        (function () {
          var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                var result = JSON.parse(xhr.responseText);
                if (result.schedules) {
                  let endDate = new Date(result.schedules[0]).getTime();
                  let startDate = new Date().getTime();
                  let timeRemaining = parseInt((endDate - startDate) / 1000);
                  if (timeRemaining >= 0) {
                    document.querySelector('#notification-area div div p').innerHTML = "Upcoming Webinar: \""+result.title+"\". <a href=\"https://appscode.com/webinar\">Register here</a>!";
                    document.querySelector('#notification-area').style.display = 'block';
                    const headerTop = document.querySelector(".header-top");
                    if (window.innerWidth <= 550) {
                      headerTop.style.marginTop="66px" ;
                    } else {
                      headerTop.style.marginTop="45px" ;
                    }
                  }
                }
              }
            }
          }
          // console.log('GET', 'https://license-issuer.appscode.com/_/webinars/');
          xhr.open('GET', 'https://license-issuer.appscode.com/_/webinars/');
          xhr.send();
        }());
      </script>
      <!-- notification end -->
      <div class="header-top">
        <div class="container section">
          <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{.Site.Params.domain_appscode}}">
                <img src="{{$.Site.Data.products.appscode.logo.src}}" alt="{{$.Site.Data.products.appscode.logo.alt}}" />
              </a>

              <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="acNav1"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="acNav1" class="navbar-menu main-menu">
              <div class="navbar-end">
                <!-- nav menu start -->
                <div class="navbar-start">
                  <div class="navbar-item has-dropdown ac-is-hoverable">
                    <a class="navbar-link">
                      Products
                    </a>

                    <!-- dropdown menu start -->
                    <div class="ac-megamenu">
                      <div class="columns">
                        <div class="column is-6">
                          <div class="columns">
                            <div class="column is-12 br-1">
                              {{ range $item := $.Site.Data.config.productMenu.c0 }}
                              {{ $p := (index $.Site.Data.products $item) }}
                              <!-- single menu item start -->
                              <a
                                href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                                class="single-product-item is-{{ $p.key }}"
                              >
                                <div class="menu-header">
                                  <div class="menu-logo">
                                    <img
                                      src="{{ $p.icon.src }}"
                                      alt="{{ $p.icon.alt }}"
                                    />
                                  </div>
                                  <h5>{{ $p.name }}</h5>
                                </div>
                                <div class="menu-body">
                                  <p>{{ $p.tagline | plainify }}</p>
                                </div>
                              </a>
                              <!-- single menu item end -->
                              {{ end }}
                            </div>
                          </div>
                        </div>
                        <div class="column is-6">
                          <div class="columns">
                            <div class="column is-12">
                              {{ if $.Site.Data.products.bytebuilders.published }}
                              <!-- single menu item start -->
                              <a
                                href="{{.Site.Params.domain_bytebuilders}}"
                                class="single-product-item byte-builder kd-orange"
                              >
                                <div class="menu-header">
                                  <p class="intro">Introducing....</p>
                                  <h5>{{ $.Site.Data.products.bytebuilders.name }}</h5>
                                </div>
                                <div class="menu-body">
                                  <p>
                                    {{ $.Site.Data.products.bytebuilders.tagline | plainify }}
                                  </p>
                                </div>
                                <p class="learn-more-btn">
                                  Learn more
                                  <span class="icon"
                                    ><i
                                      class="fa fa-long-arrow-right"
                                      aria-hidden="true"
                                    ></i
                                  ></span>
                                </p>
                              </a>
                              <!-- single menu item end -->
                              {{ end }}

                              {{ range $item := $.Site.Data.config.productMenu.c1 }}
                              {{ $p := (index $.Site.Data.products $item) }}
                              <!-- single menu item start -->
                              <a
                                href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                                class="single-product-item is-{{ $p.key }}"
                              >
                                <div class="menu-header">
                                  <div class="menu-logo">
                                    <img
                                      src="{{ $p.icon.src }}"
                                      alt="{{ $p.icon.alt }}"
                                    />
                                  </div>
                                  <h5>{{ $p.name }}</h5>
                                </div>
                                <div class="menu-body">
                                  <p>{{ $p.tagline | plainify }}</p>
                                </div>
                              </a>
                              <!-- single menu item end -->
                              {{ end }}
                            </div>
                          </div>
                        </div>
                      </div>
                        <!--
                        {{ if $.Site.Data.products.bytebuilders.published }}
                        <div class="columns has-text-centered">
                          <div class="column">
                            <div class="menu-bottom">
                              <p>
                                Explore AppsCode products:
                                <a href="{{.Site.Params.domain_marketplace}}">
                                  Visit the Marketplace
                                  <i
                                    class="fa fa-long-arrow-right"
                                    aria-hidden="true"
                                  ></i
                                ></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      {{end }}
                      -->
                    </div>
                    <!-- dropdown menu end -->
                  </div>

                  <div class="navbar-item has-dropdown ac-is-hoverable">
                    <a class="navbar-link">
                      Open Source
                    </a>

                    <!-- dropdown menu start -->
                    <div class="ac-megamenu">
                      <div class="columns">
                        <div class="column is-6">
                          <div class="columns">
                            <div class="column is-12 br-1">
                              {{ range $item := $.Site.Data.config.ossMenu.c0 }}
                              {{ $p := (index $.Site.Data.products $item) }}
                              <!-- single menu item start -->
                              <a
                                href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                                class="single-product-item is-{{ $p.key }}"
                              >
                                <div class="menu-header">
                                  <div class="menu-logo">
                                    <img
                                      src="{{ $p.icon.src }}"
                                      alt="{{ $p.icon.alt }}"
                                    />
                                  </div>
                                  <h5>{{ $p.name }}</h5>
                                </div>
                                <div class="menu-body">
                                  <p>{{ $p.tagline | plainify }}</p>
                                </div>
                              </a>
                              <!-- single menu item end -->
                              {{ end }}
                            </div>
                          </div>
                        </div>
                        <div class="column is-6">
                          <div class="columns">
                            <div class="column is-12">
                              {{ range $item := $.Site.Data.config.ossMenu.c1 }}
                              {{ $p := (index $.Site.Data.products $item) }}
                              <!-- single menu item start -->
                              <a
                                href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                                class="single-product-item is-{{ $p.key }}"
                              >
                                <div class="menu-header">
                                  <div class="menu-logo">
                                    <img
                                      src="{{ $p.icon.src }}"
                                      alt="{{ $p.icon.alt }}"
                                    />
                                  </div>
                                  <h5>{{ $p.name }}</h5>
                                </div>
                                <div class="menu-body">
                                  <p>{{ $p.tagline | plainify }}</p>
                                </div>
                              </a>
                              <!-- single menu item end -->
                              {{ end }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- dropdown menu end -->
                  </div>

                  <div class="navbar-item has-dropdown ac-is-hoverable">
                      <a class="navbar-link">
                          Services
                      </a>

                      <div class="ac-dropdown">
                          <a class="navbar-item" href="{{ $.Site.Params.domain_appscode }}/consulting/" >
                              Consulting
                          </a>
                          <a class="navbar-item" href="{{ $.Site.Params.domain_appscode }}/training/" >
                              Training
                          </a>
                          <a class="navbar-item" href="{{ $.Site.Params.domain_appscode }}/support/" >
                              Support
                          </a>
                      </div>
                  </div>

                  <a class="navbar-item" href="{{ $.Site.Params.blog_url }}" >
                    Blog
                  </a>
                  <a class="navbar-item" href="{{ $.Site.Params.domain_appscode }}/contact/" >
                    Contact Us
                  </a>
                </div>
                <!-- nav menu end -->
                <div class="navbar-item">
                  <div class="buttons main-menu-button-top">
                    <a class="button is-small for-chat" href="{{.Site.Params.slack_url}}">
                      <span
                        ><img
                          src="/assets/images/icon/slack.png"
                          alt=""/></span
                      >Slack
                    </a>
                    <a class="button is-small for-support" href="https://appscode.freshdesk.com">
                      <span
                        ><img
                          src="/assets/images/icon/chat.png"
                          alt=""/></span
                      >Support Portal
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- header top end -->
      {{ end }}

      {{ block "header-bottom" . }}
      {{ $p := (index .Site.Data.products .Site.Params.product_key) }}
      <!-- header bottom area start -->
      <div class="header-bottom-area header-area kubedb-primary-bg customize-kubedb fixed-menu">
        <div class="container section">
          <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{ index $.Site.Params $p.website.domainKey }}{{ $p.website.path }}">
                <img src="{{ $p.logoWhite.src }}" alt="{{ $p.logoWhite.alt }}" />
              </a>
              <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="acNav"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="acNav" class="navbar-menu main-menu">
              <div class="navbar-end">
                <!-- nav menu start -->
                <div class="navbar-start">
                  {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                      <div class="navbar-item has-dropdown ac-is-hoverable">
                        <a class="navbar-link">{{ .Name }}</a>
                        <div class="ac-dropdown">
                          {{ range .Children }}
                            {{ if eq .Parent $.Site.Params.main_menu_dropdown_item }}
                              <a class="navbar-item" href="/docs/{{ $p.latestVersion }}/guides/{{ .Identifier }}/">{{ .Name }}</a>
                            {{ else }}
                              <a href="{{.URL}}" class="navbar-item">{{ .Name }}</a>
                            {{ end }}
                          {{ end }}
                        </div>
                      </div>
                    {{else}}
                      {{ if eq .Name "Documentation" }}
                        <a href="/docs/{{ $p.latestVersion }}/welcome/" class="navbar-item">{{ .Name }}</a>
                      {{ else }}
                        <a href="{{.URL}}" class="navbar-item">{{ .Name }}</a>
                      {{ end }}
                    {{ end }}
                  {{end}}
                </div>
                <!-- nav menu end -->

                <div class="navbar-item">
                  <div class="buttons main-menu-button">
                    {{ range where $p.badges "logo" "github" }}
                      <img style="height:24px" alt="{{ .alt }} Stars" src="https://img.shields.io/badge/dynamic/json?style=flat&labelColor=1B3D4B&color=06A64F&logoColor=white&logo=github&label=stars&query=%24.stars&url=https://github-stars.appscode.workers.dev/user/{{ .url }}">
                      &nbsp;&nbsp;&nbsp;
                      <img style="height:24px" alt="{{ .alt }} Forks" src="https://img.shields.io/badge/dynamic/json?style=flat&labelColor=1B3D4B&color=06A64F&logoColor=white&logo={{ .logo }}&label=forks&query=%24.forks&url=https://github-stars.appscode.workers.dev/user/{{ .url }}">
                    {{ end }}
                    {{ range where $p.badges "logo" "docker" }}
                      &nbsp;&nbsp;&nbsp;
                      <img style="height:24px" alt="{{ .alt }}" src="https://img.shields.io/{{ .url }}?style=flat&labelColor=1B3D4B&color=06A64F&logoColor=white&logo={{ .logo }}&label=pulls">
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- header bottom area end -->
      {{ end }}

      {{ block "documentation-menu" . }}
      {{ end }}

    </header>
    {{ end }}
    <!-- header area end -->

    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <!-- testimonial area start -->
    {{ block "testimonial" . }}
    <section class="testimonial-area section-padding">
      <div class="container section">
        <div class="columns">
          <div class="column">
            <div class="section-title has-text-centered" data-aos="fade-up">
              <h2>What Our Customers Say</h2>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="carousel-wrapper carousel" id="carousel-demo" data-aos="fade-up">
              {{ range $user := $.Site.Data.testimonials }}
              <!-- single testimonial start -->
              <div class="carousel-inner">
                <div class="single-testimonial-wrapper">
                  <div class="client-brief has-text-centered">
                    <p>
                      {{ $user.testimonial | safeHTML }}
                    </p>
                  </div>
                  <div class="client-information">
                    <div class="client-info-inner">
                    <div class="client-thumb">
                      <img
                          src="{{ $user.profile }}"
                          alt="{{ $user.name }}"
                        />
                    </div>
                    <div class="client-info">
                      <h4>{{ $user.name }}</h4>
                      <p>{{ $user.job }}{{ if $user.companyKey }} at {{ index $.Site.Data.customers $user.companyKey "name" }}{{ end }}</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!-- single testimonial end -->
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!-- testimonial area end -->

    <!-- our customer logo area start -->
    {{ block "customer-logos" . }}
    <div class="logo-carusal-area section-padding">
      <div class="container section">
        <div class="columns is-centered">
          <div class="column is-10 has-text-centered">
            <!-- brand logo start -->
            <div class="brand-logo-wrapper mt-10" data-aos="fade-up">
                {{ range $customer := $.Site.Data.customers }}
                  {{ if $customer.show }}
                    <a class="single-brand-logo">
                      <img
                        src="{{ $customer.logo }}"
                        alt="{{ $customer.name }}"
                        class="img"
                      />
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            <!-- brand logo end -->
          </div>
        </div>
      </div>
    </div>
    {{ end }}
    <!-- our customer logo area end -->

    <!-- call to action area start -->
    {{ block "cta-install" . }}
    {{ $p := (index .Site.Data.products .Site.Params.product_key) }}
    <section class="cta-area section-padding pt-0" data-aos="fade-up">
      <div class="container section">
        <div class="cta-padding">
          <div class="columns">
            <div class="column is-6">
              <!-- cta text strat -->
              <div class="cta-text">
                <h2>Ready to Get Started?</h2>
                <p>Install <strong>{{ $p.name }}</strong> in your Kubernetes cluster</p>
              </div>
              <!-- cta text end -->
            </div>
            <div class="column is-6 has-text-right is-mobile">
              <div class="cta-button d-table">
                <!-- cta button start -->
                <div class="cta-button-inner d-table-cell">
                  <a href="/docs/{{ $p.latestVersion }}/setup/" class="button kd-button kd-primary"
                    >Try Now for FREE!</a
                  >
                </div>
                <!-- cta button end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!-- call to action area end -->
    <!-- top to button start -->
    <button class="go-to-top" id="goTop">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <!-- top to button end -->
    <!-- footer area start -->
    {{ block "footer" . }}
    <footer class="footer-area">
      <div class="footer-top">
        <div class="container section">
          <div class="columns is-mobile is-multiline">
            <div class="column is-full-mobile is-one-third-desktop is-one-third-widescreen is-one-third-tablet" data-aos="fade-up">
              <div class="single-footer-widget">
                <!-- logo start -->
                <div class="footer-logo">
                  <a href="{{.Site.Params.domain_appscode}}"
                    ><img
                      src="{{$.Site.Data.products.appscode.logo.src}}"
                      alt="{{$.Site.Data.products.appscode.logo.alt}}"
                      class="img"
                  /></a>
                </div>
                <!-- logo end -->

                <!-- subscription form start -->
                <div class="subscription-form">
                  <form method="post" action="https://listmonk.appscode.com/subscription/form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank" novalidate role="email" role="email">
                    <label for="email">Subscribe to Our Newsletter</label>
                    <p class="spam-message">No spam, we promise. Your mail address is secure</p>
                    <div class="field has-addons">
                      <div class="control">
                        <!-- AppsCode Monthly Newsletter -->
                        <input type="hidden" id="afbbc" name="l" value="afbbc974-e163-4467-be49-040e399520f3" />
                        <input
                          class="input"
                          name="email"
                          id="mce-EMAIL"
                          type="email"
                          placeholder="Your work email address"
                          required
                        />
                        <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                          </button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- subscription form end -->

                <!-- contact information start -->
                <div class="contact-information">
                  <h4>Have any Inquiry?</h4>
                  <ul class="all-contact-info">
                    <li>
                      <a href="callto:{{.Site.Params.contact_phone}}"
                        ><span
                          ><i class="fa fa-phone" aria-hidden="true"></i></span
                        >{{.Site.Params.contact_phone}}</a
                      >
                    </li>

                    <li>
                      <a href="mailto:{{.Site.Params.contact_email}}"
                        ><span
                          ><i
                            class="fa fa-envelope-o"
                            aria-hidden="true"
                          ></i></span
                        >{{.Site.Params.contact_email}}</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- contact information end -->
              </div>
            </div>

            <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="500">
              <div class="single-footer-widget">
                <!-- footer menu start -->
                <div class="footer-menu">
                  <h4>Products</h4>
                  <ul class="footer-link">
                    {{ range $item := $.Site.Data.config.footerLinks }}
                    {{ $p := (index $.Site.Data.products $item) }}
                    <li><a href="{{index $.Site.Params $p.website.domainKey}}{{$p.website.path}}">{{$p.name}}</a></li>
                    {{ end }}
                  </ul>
                </div>
                <!-- footer menu end -->
              </div>
            </div>

            <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="600">
              <div class="single-footer-widget">
                <!-- footer menu start -->
                <div class="footer-menu">
                  <h4>Services</h4>
                  <ul class="footer-link">
                    <li><a href="{{.Site.Params.domain_appscode}}/pricing/">Pricing</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/consulting/">Consulting</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/training/">Training</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/support/">Support</a></li>
                  </ul>
                </div>
                <!-- footer menu end -->
              </div>
            </div>

            <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="700">
              <div class="single-footer-widget">
                <!-- footer menu start -->
                <div class="footer-menu">
                  <h4>Company</h4>
                  <ul class="footer-link">
                    <li><a href="{{.Site.Params.domain_appscode}}/about/">About Us</a></li>
                    <li><a href="{{.Site.Params.blog_url}}">Blog</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/contact/">Contact Us</a></li>
                  </ul>
                </div>
                <!-- footer menu end -->
              </div>
            </div>

            <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="800">
              <div class="single-footer-widget">
                <!-- footer menu start -->
                <div class="footer-menu">
                  <h4>Legal</h4>
                  <ul class="footer-link">
                    <li><a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Sevice</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/legal/security/">Security</a></li>
                    <li><a href="{{.Site.Params.domain_appscode}}/legal/sla/">Service Level Agreement</a></li>
                  </ul>
                </div>
                <!-- footer menu end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container section">
          <div class="columns">
            <div class="column is-4">
              <p>© {{ now.Format "2006" }} AppsCode Inc. All rights reserved.</p>
            </div>
            <div class="column is-4 is-mobile has-text-centered">
              <div class="footer-inline-link">
                <a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a>
                <a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Service</a>
              </div>
            </div>
            <div class="column is-4 is-mobile has-text-right">
              <div class="socail-link-inline">
                <ul>
                  <li>
                    <a href="{{.Site.Params.twitter_url}}"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{.Site.Params.facebook_url}}"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{.Site.Params.youtube_url}}"
                      ><i class="fa fa-youtube" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {{ end }}
    <!-- footer area end -->

    <!-- Bulma Carousel JS -->
    <script src="/assets/js/bulma-carousel.min.js"></script>
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- download js  -->
    <script src="https://unpkg.com/downloadjs@1.4.7/download.min.js"></script>
    <!-- clipboard js  -->
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <!-- Main JS -->
    {{ with $style := resources.Get "assets/js/main.js" | resources.Fingerprint }}
    <script src="{{ $style.RelPermalink }}"></script>
    {{ end }}
    <!-- <script src="/assets/js/main.js"></script> -->
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9255943.js"></script>
    <!-- End of HubSpot Embed Code -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
