{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our
              Support plans are designed to give you the right mix of tools and access to expertise so that you can be
              successful with AppsCode products while optimizing performance, managing risk, and keeping costs under
              control.
            </p>
            <br />
            <p>
              Our pricing plans are product specific and you will need a separate subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img src="/assets/images/support-page/support-img.png" alt="" class="img" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding-100">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>Plans</h2>
        <p>Our pricing plans are designed to meet your need, risk tolerance and budget constraints</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta community has-text-centered">
          <h3>KubeDB Community</h3>
          <p>Open source KubeDB Free for everyone</p>
          <div class="bottom-content">
            <a href="/docs/latest/setup" class="button ac-button is-secondary">Install Now!</a>
            <!-- <a href="/docs/latest/setup/install/community" class="button ac-button is-secondary">Install Now!</a> -->
          </div>
        </div>
        <!-- single cta end -->
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>KubeDB Enterprise</h3>
          <p>Open Core KubeDB for production and/or substained usage databases</p>
          <div class="bottom-content">
            <!-- <a href="/docs/latest/setup/install/enterprise" class="is-trial">Try for Free!</a> -->
            <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button ac-button is-secondary">Contact Us</a>
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">

      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Recommended For</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              Core functionalities for FREE<br>for any Kubernetes user
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Self-service plan for production databases</div>
              <div class="e-plan">For production databases</div>
              <div class="e-plan">For business and/or mission critical databases</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">PostgreSQL</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">MySQL</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Elasticsearch</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">MongoDB</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Redis</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Memcached</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">MariaDB</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Percona XtraDB</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">PgBouncer</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">ProxySQL</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->



      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Features</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"></div>
              <div class="e-plan"></div>
              <div class="e-plan"></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->


        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Database Clustering</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Cloud / On-prem / Air-gapped clusters</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Multizone Cluster</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Private Registry</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">CLI</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Halt & resume database</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Configuration</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Extensions</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Prometheus Metrics<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Rich database metrics and KubeDB operator metrics"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Kubernetes Namespace support</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              Only demo namespace
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Any Kubernetes namespace</div>
              <div class="e-plan">Any Kubernetes namespace</div>
              <div class="e-plan">Any Kubernetes namespace</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Protect against accidental deletion</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Backup/Recovery using <a href="https://stash.run">Stash</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Patch Upgrades</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Horizontal Scaling</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Vertical Scaling</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Reconfiguration</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed Restarts</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->



      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Security</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"></div>
              <div class="e-plan"></div>
              <div class="e-plan"></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Role Based Access Control (RBAC)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Open Policy Agent (OPA)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Pod Security Policy (PSP)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Network Policy</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">User & Secret Management using <a href="https://kubevault.com">KubeVault</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Managed TLS using <a href="https://cert-manager.io">cert-manager</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->



      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Support Plans</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              COMMUNITY
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">BASIC</div>
              <div class="e-plan">GOLD</div>
              <div class="e-plan">PLATINUM</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Support Coverage</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              Self-service
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Self-service</div>
              <div class="e-plan">8x5 ⏰</div>
              <div class="e-plan">24x7</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Response Time SLA<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We will make every reasonable effort to respond to your initial request within the corresponding timeframes"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">N/A</div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Best Effort</div>
              <div class="e-plan"><a href="/files/products/appscode/appscode-support-plans.pdf">Table 1</a></div>
              <div class="e-plan"><a href="/files/products/appscode/appscode-support-plans.pdf">Table 2</a></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Quarterly Updates</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Emergency patches</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Incident Tickets (with SLA coverage)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">5/mo</div>
              <div class="e-plan">16/mo</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="https://appscode.freshdesk.com/">Contacts for Ticketing</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">1</div>
              <div class="e-plan">5</div>
              <div class="e-plan">10</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="https://appscode.freshdesk.com/">Onboarding Support</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Remote Hands (Debug via Zoom)<br> for additional fee<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We are able to accomodate a different remote desktop software if your organization provides it. Unused hours don't accrue."><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Yes</div>
              <div class="e-plan">Yes<br>(Includes FREE 3 hrs/month)</div>
              <div class="e-plan">Yes<br>(Includes FREE 5 hrs/month)</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Production Runbook</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Dedicated Private chat (via Discord)<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We are able to accomodate a different chat software, if your organization provides it"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Phone Support</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span><span class="t-icon">☎</span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Features</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                  alt="error-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">Additional fee</div>
              <div class="e-plan">Additional fee</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->

      <!-- short description start  -->
      <div class="pricing-description mt-30">
        <ul>
          <li>
            <span>⏰ </span>Business Hours: Mon - Fri 9am - 6pm UTC+6 timezone (Bangladesh Standard Time) excluding local Bangladesh Holidays
          </li>
          <li>
            <span>☎ </span>Additional conditions apply. Please contact us for further details.
          </li>
        </ul>
      </div>
      <!-- short description end -->
    </div>
  </div>
  <!-- features table end -->
</section>
<!-- features  area end -->

<!-- assistance area start  -->
<section class="assistance-area section-padding-100">
  <div class="container section">
   <!-- section title start  -->
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="section-title">
          <h2>Need Help?</h2>
          <p>If you have a question, we are here to help! Don't hesitate to reach out.</p>
        </div>
      </div>
    </div>
   <!-- section title end -->

   <!-- assistance cards start  -->
   <div class="columns is-centered is-multiline assistance-card-wrapper">
     <!-- single card start  -->
      <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/calendar-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Schedule <br> a Meeting</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Talk an expert about {{ $p.name }}</p>
          <!-- <a href="#" class="button is-fullwidth">Set a Meeting</a> -->
          <!-- Calendly link widget begin -->
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
          <a href="" class="button is-fullwidth" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">Schedule a Meeting</a>
          <!-- Calendly link widget end -->
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->

    {{ if $p.datasheetFormID }}
      <!-- single card start  -->
      <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/download-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Download <br> White Paper </div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Download the {{ $p.name }} White Paper</p>
          <a href="/datasheet/" class="button is-fullwidth">Download Now</a>
        </div>
        <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->
    {{ end }}

       <!-- single card start  -->
       <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/newsletter-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Mailing <br> List</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Subscribe to Our Newsletter</p>
          <!-- subscription form start -->
          <div class="subscription-form">
            <form method="post" action="https://listmonk.appscode.com/subscription/form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank" novalidate role="email" role="email">
              <!-- AppsCode Monthly Newsletter -->
              <input type="hidden" id="afbbc" name="l" value="afbbc974-e163-4467-be49-040e399520f3" />
              <input
                class="input"
                name="email"
                id="mce-EMAIL"
                type="email"
                placeholder="Your work email address"
                required
              />
              <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
          <!-- subscription form end -->
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->
      <!-- single card start  -->
      <div class="column  is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/document-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Explore <br> Docs</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Learn about {{ $p.name }} from our docs</p>
          <a href="/docs/latest/" class="button is-fullwidth">Read the Docs</a>
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->
   </div>
   <!-- assistance cards end -->
  </div>
</section>
<!-- assistance area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area pb-100">
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Can I upgrade or downgrade anytime?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Monthly plans are subject to a 30 day minimum term.
                Monthly plans can be upgraded anytime.
                Annual plans can be downgraded at the end of the term.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Is my payment information safe?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Our payment processing is powerd by
                <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                You credit card data never touches our servers. For more information,
                please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Do you have any cancellation fee?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                There is no cancellation fee. But plans are subject to minimum duration as stated above.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>What types of payment do you accept?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                Discover, etc. We also accept ACH debit/credit.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

{{ end }}